---
---

<section class="mb-8">
  <div class="mb-8">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Oskar's Life
      </span>
    </h1>
    <p class="text-2xl mb-4 text-right">
      Web Developer. Programming Wizard. Blogger.
    </p>
  </div>
  <div>
    <p class="mb-5 mt-5 text-justify">
      Good day! I'm glad you're here. Visit the page's various sections to learn
      more about me.
    </p>
    <p class="mb-2 text-justify">
      My name is Oskar, as you might have guessed, and I write primarily about
      contemporary web development and enjoying life to the fullest.
    </p>
    <p class="mb-2 text-justify">
      I'm a software developer who works every day for a Polish aircraft
      company. I enjoy practicing programming in my free time by working through
      challenges on Leetcode and CodeWars. I enjoy reading, and my favorite
      genre is popular science. In addition, I practice twice or three times a
      week in Brazilian jiu-jitsu and go to the gym twice. I also attempt to do
      as many activities as I can with my family, friends, and other loved ones
      while spending a lot of time with them.
    </p>
  </div>
</section>
